.code-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 70vw;
	margin: 0 auto 20px;
	padding: 10px;
	box-shadow: 5px 5px 20px gray;
	background: rgb(233, 233, 233);
	border-radius: 10px;
}
.title-input,
.description-input,
.code-input {
	font-size: 14px;
	border: 1px solid gray;
	border-radius: 5px;
	background: rgb(255, 255, 255);
	width: 60%;
}

.title-input {
	background: rgb(255, 255, 255);
	width: 60%;
	height: 20px;
}

.description-input {
	height: 200px;
}

.image-input {
	background: rgb(114, 195, 229);
	width: 60%;
	font-size: 14px;
	border-radius: 10px;
	text-align: center;

	align-items: center;
	border: 3px dashed rgb(80, 137, 162);
	color: rgb(80, 137, 162);
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	height: 200px;
	justify-content: center;
	padding: 1rem;
	position: relative;
	text-align: center;
	transition: background-color 0.3s;
}

.image-input::before {
	content: 'Drag image here or \A click to browse files';
	margin: 0 0 1rem;
	white-space: pre;
}

.image-input > input {
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.image-added {
	color: green
}


.submit-button {
	margin: 10px;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 14px;
	border: 1px solid gray;
}

@media (max-width: 800px) {
	.code-form {
		width: 80vw;
	}
}

.label {
	font-size: 16px;
	padding: 5px 0;
	width: 60%;
	color: rgb(29, 29, 29);
}

.not-login {
	color: red;
}
